@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body {
    background-color: #142850;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #142850;
    overflow-x: hidden;
} 
div {
    margin: 0;
    padding: 0;
}

.homeContent{
    width: 100vw;
    position: relative;
    top: 11rem;
    left: 4rem;
}

.firstLine, .thirdLine{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.secondLine{
    font-size: 4.3rem;
    font-weight: bold;
}

.homeImage{
    position: relative;
    align: center;
    top: 5rem;
    left: 9.8rem;
}

.trendbooks{
    position: relative;
    color: #DAE1E7;
    padding: 2rem;
    bottom: 5rem;
}

.trendbooks span{
    text-shadow: 0.07rem 0.07rem 0.5rem #176B87;
    padding-top: 3rem;
    color: #DAE1E7;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.12rem;
    font-weight: bold;
}

.BigText{
    position: relative;
    top: 3rem;
}

.BigText span{
    font-size: 9rem;
    letter-spacing: 0.4rem;
    opacity: 0.2;
}

.featuredbooks{
    color: #DAE1E7;
    padding: 2rem;
    padding-top: 6rem;
    text-shadow: 0.02rem 0.02rem 0.13rem #176B87;
}

.featuredbooks span{
    text-shadow: 0.07rem 0.07rem 0.5rem #176B87;
    padding-top: 3rem;
    color: #DAE1E7;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.12rem;
    font-weight: bold;
}

.featuredImage{
    position: relative;
    padding: 2rem;
    padding-top: 0;
    left: 7.5rem;
}

.cards{
    background-color: #27496D;
}

@media(max-width:950px){
    .homeContent{
        width: 100vw;
        position: relative;
        top: 0rem;
        left: 4rem;
    }
}

@media (max-width:500px){
    .homeImage, .homeContent{
        flex-direction: column;
        align-items: center;
    }

    .homeContent{
        width: 100vw;
        position: relative;
        top: 0rem;
        left: 4rem;
    }
    
    .homeImage{
        position: relative;
        padding-top: 4.5rem;
        align: center;
        top: 2rem;
        left: 6.75rem;
    }

    .firstLine, .thirdLine{
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    
    .secondLine{
        font-size: 2.5rem;
        font-weight: bold;
    }

    .BigText span{
        opacity: 0;
    }

    .featuredImage{
        position: relative;
        align: center;
        top: 1rem;
        left: 4.75rem;
    }
}